<!doctype html>

<html>

<head>
    <title>Bezpiecznik</title>
    <link rel="stylesheet" href="/static/styles/main.css"> 
    <script src="/static/scripts/dashboard.js" defer></script>   
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
</head>

<header>

    <a href="/"><img src="/static/images/logo.png" alt="logo"></a>
        Ostatnie logowanie: {{last_login_info}} <br>
        Twój adres IP: {{ip}}
   <nav>
        <ul id="menu">
           	<li id="strona_glowna"><a href="/">Strona główna</a></li>
            <li id="przesylki"><a href="/user/dashboard">Moje hasła</a></li>
            <li id="dodaj"><a href="/password/add">Dodaj hasło</a> </li>
            <li id="wyloguj"><a href="/user/logout">Wyloguj się</a> </li>
        </ul>
    </nav>
</header>

<body>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
 			{% for message in messages %}
 				<li>{{ message }}</li>
 			{% endfor %}
 			</ul>
 		{% endif %}
	{% endwith %}

   
   {% if haspasswords %}
   <h1>Twoje zapisane hasła:</h1>
   <br/>
		 <table>  	
   	{% for password in passwords %}
   	
   	<tr class="label">
			<th><b>{{password[1]}}</b></th>
			<th class="password"><b>{{password[2]}}</b></th>
			<th><button class="show_password_button" value={{password[0]}}>Odszyfruj hasło</button></th>
		</tr>
		<tr class="empty"></tr>
   	{% endfor %}
   	 </table>
   {% else %}
   	<h2 class="center_text">Nie zapisałeś jeszcze żadengo hasła</h2>
  	{% endif %}
   

    <footer>2020 | <a href="https://github.com/Piotr9923/Projekt_PAMiW">https://github.com/Piotr9923/Projekt_PAMiW</a> |
        <a href='https://dryicons.com/'> Icon by Dryicons </a></footer>



</body>



</html>
