<!doctype html>

<html>

<head>
    <title>Bezpiecznik</title>
    <link rel="stylesheet" href="/static/styles/input_form.css">
    <script src="/static/scripts/registration.js" defer></script>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
</head>

<header>
    <a href="/"><img src="/static/images/logo.png" alt="logo" class="logo_image"></a>
    <nav>
        <ul id="menu">
           	<li id="strona_glowna"><a href="/">Strona główna</a></li>
            <li id="logowanie"><a href="/user/login">Logowanie</a></li>
            <li id="rejestracja"><a href="/user/register">Rejestracja</a> </li>
        </ul>
    </nav>
</header>

<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
 			{% for message in messages %}
 				<li>{{ message }}</li>
 			{% endfor %}
 			</ul>
 		{% endif %}
	{% endwith %}


    <form id="formularz" method="POST" action="/user/register" enctype="multipart/form-data">
        <ul>
            <li>
                <h1> Załóż nowe konto </h1>
            </li>
            <li><b>Adres e-mail: </b></li><li><input type="text" class="input_field" id="mail" name="mail" />
            <img src="/static/images/help.svg" class="help">
            </li>
            <li><b>Numer telefonu: </b></li><li><input type="text" class="input_field" id="phone_number" name="phone_number" />
				<img src="/static/images/help.svg" class="help">            
            </li>
            <li><b>Login: </b></li><li><input type="text" class="input_field" id="login" name="login" />
            <img src="/static/images/help.svg" class="help">
            </li>
            <li><b> Hasło:</b></li><li> <input type="password" class="input_field" id="password" name="password" />
            <img src="/static/images/help.svg" class="help">
            </li>
            <li id="password_strength" class="password_strength"></li>
            <li> <b>Powtórz hasło:</b></li><li> <input type="password" class="input_field" id="password2" name="password2" />
            </li>
            <li> <b>Hasło główne:</b></li><li> <input type="password" class="input_field" id="master_password" name="master_password" />
				<img src="/static/images/help.svg" class="help">
            <li id="password_warning" class="incorrect_field"></li> 
				<li id="master_password_strength" class="password_strength"></li>
            <li> <b>Powtórz hasło główne:</b></li><li> <input type="password" class="input_field" id="master_password2" name="master_password2" />
            </li>
            <li id="info" class="incorrect_field"></li>
            <li id="password_strength_warning" class="incorrect_field"></li>
            
            
            <li><input type="submit" id="button" value="Zarejestruj się" /></li>
        </ul>
    </form>


    <footer>2021 | <a href="https://github.com/Piotr9923/Bezpieczna_aplikacja_internetowa">https://github.com/Piotr9923/Bezpieczna_aplikacja_internetowa</a> |
        <a href='https://dryicons.com/'> Icon by Dryicons </a></footer>


</body>


</html>